<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>xafletrt</servlet-name> 
    <servlet-class>com.acesoft.aceoffix.xafletrt.Server</servlet-class> 
  </servlet>
  <servlet-mapping> 
    <servlet-name>xafletrt</servlet-name> 
    <url-pattern>/server.ace</url-pattern> 
  </servlet-mapping>  
  <servlet-mapping> 
	<servlet-name>xafletrt</servlet-name> 
	<url-pattern>/pluginsetup.exe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>xafletrt</servlet-name>
	<url-pattern>/aceoffix.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>xafletrt</servlet-name>
	<url-pattern>/jquery.min.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>xafletrt</servlet-name>
	<url-pattern>/acebstyle.css</url-pattern>
  </servlet-mapping>
  <mime-mapping>  
  	<extension>mht</extension>  
  	<mime-type>message/rfc822</mime-type>  
  </mime-mapping> 
  
</web-app>
